<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <!-- Suites double as CI shards (run one with the testsuite flag, e.g.
         "flows"). With no testsuite flag, every suite runs (full local suite). -->
    <testsuites>
        <testsuite name="flows">
            <directory suffix="Test.php">./Tests/Flows</directory>
        </testsuite>
        <testsuite name="processing">
            <directory suffix="Test.php">./Tests/Processing</directory>
        </testsuite>
        <testsuite name="backoffice">
            <directory suffix="Test.php">./Tests/Backoffice</directory>
        </testsuite>
        <testsuite name="offline">
            <file>./Tests/AuthTest.php</file>
            <file>./Tests/WebhooksTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
